@import './variables';

.centered {
    text-align: center;
}

.left-div {
    text-align: left;
}

.space-top {
    margin-top: $base-space !important;
}

.space-bottom {
    margin-bottom: $base-space !important;
}

.space-left {
    margin-left: $base-space !important;
}

.space-right {
    margin-right: $base-space !important;
}

.right-button {
    float: right;
}
.Feedback {
    margin-top: 25px;
}
.back {
    margin-top: 10px;
}
.file-list {
    margin: 10px;
    border-style: solid black 2px;
}
